[submodule "code/MPU6050"]
	path = code/MPU6050
	url = https://github.com/mcbottcher/MPU6050.git
[submodule "code/MCP3428"]
	path = code/MCP3428
	url = https://github.com/mcbottcher/MCP3428.git
[submodule "code/cppTimer"]
	path = code/cppTimer
	url = https://github.com/berndporr/cppTimer.git
[submodule "tiny-dnn"]
	path = tiny-dnn
	url = https://github.com/jamielee183/tiny-dnn.git
[submodule "code/tiny-dnn"]
	path = code/tiny-dnn
	url = https://github.com/jamielee183/tiny-dnn
