code/Qt/FilterBank.o
code/Qt/InterpretWindow.o
code/Qt/lexicon_glove
code/Qt/main.o
code/Qt/moc_InterpretWindow.o
code/Qt/mainwindow.o
code/Qt/moc_mainwindow.o
code/Qt/moc_MonitorWindow.o
code/Qt/moc_QLed.o
code/Qt/moc_TrainWindow.o
code/Qt/TrainWindow.o
code/Qt/MonitorWindow.o
code/Qt/moc_InterpretWindow.cpp
code/Qt/moc_mainwindow.cpp
code/Qt/moc_MonitorWindow.cpp
code/Qt/moc_predefs.h
code/Qt/moc_QLed.cpp
code/Qt/moc_TrainWindow.cpp
code/Qt/Makefile
.vscode/settings.json
